[Unit]
Description = Transaction Forwarder System - Server
After = network.target

[Service]
User=root
Group=root
WorkingDirectory=/root
ExecStart=/root/transactionForwarder.bin
Restart=always
StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target